<footer class="text-white py-5">
  <div class="container">
    <div class="row text-center text-lg-start gy-4">
      <div
        class="col-12 col-lg-2 d-flex justify-content-start align-items-center"
      >
        <img
          id="logoImage"
          src="{{ url_for('static', filename='images/logo_img2.png') }}"
          alt="Flavour Theory"
          height="80"
          width="200"
          class="img-fluid logo-img"
          onclick="toggleLogo()"
        />
      </div>
      <div class="col-6 col-sm-6 col-lg-2">
        <h5 class="fw-bold">HOME</h5>
        <ul class="list-unstyled small">
          <li>
            <a
              href="{{ url_for('about') }}"
              class="text-white text-decoration-none"
              >ABOUT US</a
            >
          </li>
          <li>
            <a href="{{ url_for('programs') }}" class="text-white text-decoration-none">PROGRAMS</a>
          </li>
          <li>
            <a
              href="{{ url_for('courses') }}"
              class="text-white text-decoration-none"
              >COURSES</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-5">
        <h5 class="fw-bold">COURSES</h5>
        <ul class="list-unstyled small">
          <li>THE GOOD GUT PROGRAM</li>
          <li>FOOD LOOK GOOD</li>
          <li>START YOUR BUSINESS FROM HOME - NON VEG & VEG</li>
          <li>START YOUR FOOD BUSINESS FROM HOME - VEG ONLY</li>
          <li>IMMUNITY BOOSTER RECIPES</li>
          <li>INDIA'S FAVOURITES</li>
          <li>VEGETARIAN'S DELIGHT</li>
          <li>GARNISHING & PLATING</li>
        </ul>
      </div>
      <div class="col-12 col-lg-3">
        <h5 class="fw-bold">CONTACT</h5>
        <p class="mb-1">
          <i class="bi bi-geo-alt-fill"></i> Flavortheory Academy<br />1234,
          Olive Street, Chennai - 021
        </p>
        <p class="mb-1">
          <i class="bi bi-envelope-fill"></i> Info@Flavortheoryacademy.in
        </p>
        <p class="mb-2">
          <i class="bi bi-telephone-fill"></i> 044 - 987 6785 5677
        </p>
        <h6 class="mt-4">FOLLOW US</h6>
        <div class="d-flex justify-content-start gap-4 fs-5">
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-google"></i></a>
          <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
