<header style="background-color:#FFF5E1;" class="d-flex justify-content-between align-items-center px-4 py-3">
  <div class="d-flex align-items-center">
    <img src="{{ url_for('static', filename='images/logo_img2.png') }}" alt="Flavour Theory" height="100">
  </div>

  <nav class="d-flex align-items-center gap-4 fw-bold">
    <a href="{{ url_for('home') }}" class="text-dark text-decoration-none text-center">
      <i class="bi bi-house-door-fill fs-4"></i><br>HOME
    </a>
    <a href="{{ url_for('login') }}" class="text-dark text-decoration-none text-center">
      <i class="bi bi-fingerprint fs-4"></i><br>LOGIN
    </a>
    <a href="{{ url_for('signup') }}" class="text-dark text-decoration-none text-center">
      <i class="bi bi-person-plus-fill fs-4"></i><br>SIGN UP
    </a>
  </nav>
</header>
