@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*
{
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
main {
  flex: 1;
}
.btn-danger
{
  background-color: #BF4444 !important;
}
.btn-danger:hover {
  background-color: #e6ce9f !important;
  color: #f58f8f !important;
}

footer {
  background-color: #d57a66;
  color: white;
  padding: 3rem 1rem;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer p {
  margin-bottom: 0.5rem;
}
footer ul li {
  margin-bottom: 6px;
}
footer ul li {
  margin-bottom: 6px;
}
footer .col-lg-2:first-child {
  padding-left: 0 !important;
  margin-left: -20px;
}
.logo-img {
  width: 280px !important;
  height: 120px !important;
  object-fit: contain;
}








