.banner-wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.image-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
  border-radius: 1rem;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.content-overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  z-index: 10;
}

.content-overlay .title {
  font-weight: bold;
  color: #000;
}

.content-overlay .subtitle,
.content-overlay .note {
  font-size: 18px;
  color: #000;
  margin-top: 0.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.content-overlay .offer {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.price-row .original {
  text-decoration: line-through;
  color: gray;
  font-weight: 600;
}

.price-row .discounted {
  font-weight: bold;
  font-size: 1.4rem;
  color: #000;
}

.enroll-btn {
  background-color: #ca5555;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  display: inline-block;
  transition: background 0.3s ease;
}

.enroll-btn:hover {
  background-color: #d57a66;
  color: #f9e4e4;
}

.bottom-icons {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12rem;
  z-index: 5;
}

.bottom-icons img {
  width: 140px;
}

@media only screen and (max-width: 575.98px) {
  .content-overlay .title {
    font-size: 12px !important;
}
.content-overlay p {
    font-size: 14px !important;
};
.enroll-btn
{
    font-size: 10px !important;
}
  .bottom-icons {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px){
    .content-overlay .title {
    font-size: 14px !important;
}
.content-overlay p {
    font-size: 18px !important;
}
.bottom-icons {
  gap: 2rem !important;
  z-index: 5;
}
}
