.success-navbar {
  background-color: #FFF5E1;
  border-bottom: 1px solid #FFF5E1;
  padding: 0.75rem 1rem;
}
.logoimg {
  height: 90px !important;
  border-radius: 30%;
}
.success-nav-link:hover {
  opacity: 0.8;
}
@media (min-width: 576px) {
  .success-nav-link span {
    font-size: 1rem;
  }
}
@media (max-width: 575.98px) {
  .success-nav-link {
    font-size: 0.9rem;
  }
}
