{% extends 'layout/base.html' %}
{% block title %}Enrollment{% endblock %}
{% block navbar %}
  {% include 'include/nav_success.html' %}
{% endblock %}
{% block style %}  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_sucess.css') }}">{% endblock %}
{% block content %}
<div class="text-center mt-5 px-3">
  <h2 class="fs-4 fs-md-2">
    YOU'VE ENROLLED IN OUR COURSES<br>SUCCESSFULLY
  </h2>
  <p class="mt-5 mb-5 fs-6 fs-md-5">
    FLOWER THEORY TEAM WILL SEND THE COURSE DETAILS TO YOUR EMAIL &<br>WHATSAPP
  </p>
</div>
{% endblock %}
