<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
  {% include 'include/login_nav.html' %}
  <div class="login-container">
    <h1 class="login-title">Forgot Password</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    <form method="POST" class="login-form">
      <label for="email">Enter your registered Email</label>
      <input type="email" name="email" id="email" required>
      <button type="submit" class="submit-btn">Submit</button>
        <p class="terms fs-5">
          By joining and using Flavour Theory Academy Platform, you agree to our
          <a href="#">Terms & Policies</a>
        </p>
      <p class="form-links mt-3">
        <a href="{{ url_for('login') }}">Back to Login</a>
      </p>
    </form>
  </div>

</body>
</html>
