{% extends 'layout/base.html' %}
{% block title %}Ticket Submitted - Thank You{% endblock %}
{% block navbar %}
  {% include 'include/nav_success.html' %}
{% endblock %}
{% block content %}
  <div class="text-center my-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          {% if category == 'success' %}
            <div class="alert alert-success shadow-sm py-4 border-0 bg-light">
              <h2 class="h3 fw-bold">Ticket Submitted Successfully!</h2>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
