{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/what_we_offer.css') }}">
{% endblock %}

{% block content %}
<section class="py-5 bg-light text-dark text-center">
  <div class="container px-3 px-md-5">
    <h2 class="display-6 fw-extrabold mb-4 text-uppercase fw-bold">What We Offer</h2>
    <ul class="offer-list list-unstyled  mx-auto px-0">
      <li class="mt-3 fs-4">
        <strong class="text-danger">Tasty Recipes:</strong> From quick weeknight dinners to indulgent desserts, our recipes cover every occasion and dietary preference. Each recipe is tested and designed to be easy to follow, so you can enjoy the process as much as the result!
      </li>
      <li class="mt-3 fs-4">
        <strong class="text-danger">Helpful Cooking Tips:</strong> Our step-by-step guides, cooking hacks, and ingredient substitutions will help you master new techniques and cook with confidence.
      </li>
      <li class="mt-3 fs-4">
        <strong class="text-danger">Community of Food Lovers:</strong> Join our vibrant community of home cooks to share your recipes, leave reviews, and inspire others. We believe cooking is even more enjoyable when shared!
      </li>
    </ul>
  </div>
</section>
{% endblock %}
